* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    font-family: monospace;
}

body {
    background-image: linear-gradient(to right, #490029, #5d0242, #6e0d60, #791f82, #7b34a9, #6b53c8, #4f6ee4, #0087fb, #00a1f3, #00aebe, #00b377, #7faf3e);
}

.container {
    width: 40%;
    height: 400px;
    margin: 6vw auto;
    color: white;
    line-height: 3em;
}

.title {
    text-align: center;
    font-size: 35px;
    line-height: 2em;
}

.input {
    padding: 20px 0px;
    width: 100%;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input[type="date"] {
    width: 97%;
    padding: 6px 2px;
    border-radius: 8px;
    border: 2px solid gray;
    font-size: 18px;
}

.btn {
    margin-top: 40px;
    width: 95%;
    text-align: center;
}

.btn button {
    width: 37%;
    padding: 9px 0px;
    font-size: 16px;
    border-radius: 10px;
    background-color: aliceblue;
    color: #80185e;
}

#result {
    width: 100%;
    margin-top: 10px;
}

#head {
    font-size: 27px;
}

#age {
    font-size: 17px;
}

@media (max-width:680px) {

    .container {
        width: 60%;
        height: 300px;
    }

}

@media (max-width:448px) {

    .container {
        width: 90%;
        height: 200px;
    }

}